#div_start {
    float: right;
}

#start_button {
    border: 0;
    background-color: transparent;
    padding: 0;
}

#results {
    font-size: 1em;
    font-weight: bold;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    min-height: 150px;
    background-color: white;
    color: #000000;

}

.interim {
    color: gray;
}

.final {
    padding-right: 3px;
}